page-sponsors {

    .cardHeader {
        background:#425195; 
        color:#fff;
    }


    .cardHeader1 {
        background-image: url('../assets/img/bronze-background.jpg'); 
        color:#fff;
    }



}
